.boody{
    margin: 10em;
    height: 60vh;
   
}
.boody h1{

    font-weight: 700;
    font-size: 60px;
}

.content-content{
    padding: 4em 4em;
}

@media (max-width:768px) {
    .boody h1{
        font-size: 40px;

    }
    .boody p{
        color: black;
    }
    .boody{
        margin: 100px;
    }
}